html {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.titlebar {
  width: 100%;
  height: 40px;
  top: 0;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 9px;
  font-weight: bold;
}

.sidebar {
    position: relative;
    width: 340px;
    overflow-y: auto;
    padding: 20px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    border-radius: 5px;
    z-index:2;
    margin: 10px;
    font-size: 14px;
}

.map {
  position: absolute;
  width: 100%;
  right:0%;
  top:40px;
  bottom: 0%;
  z-index:1;
}

.mapboxgl-map {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-variant-caps:all-petite-caps;
  letter-spacing: 0.05em;
}

.info {
  position: absolute;
  background-color: #000;
  color: #fff;
  z-index: 4;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-bottom: 30px;
  width: 350px;
  height: auto;
  opacity: 0.8;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
}

.legend {
  position: absolute;
  right: 0;
  margin: 10px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 3;
  opacity: 0.8;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 1px #aaa;
}

.list {
  padding: 0;
  display: inline;
  list-style: none;
  font-size: 12px;
}

.list li span {
    display: inline-block;
    height: 15px;
    width: 20px;
    margin-right: 5px;
}

.btn-dark {
  position: relative;
  font-size: 10px;
  border-style: none;
  background-color: #000;
  z-index: 10;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-outline-light {
  font-size: 10px;
}

.unicase {
  font-variant-caps: unicase;
}

.center {
  text-align: center;
}

.space{
  letter-spacing: 0.1em;
}

.title {
  letter-spacing: 1.5px;
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.1em;
}

.geocoder-icon-search {
    height: 12px;
}

.slider {
  margin: 10px;
}

.map-overlay {
  position: absolute;
  display: none;
}

input[type='text'] {
  background-color: #000;
  border: none;
  font-style: italic;
}

.slider {
  background: none;
}

.ui-slider-range {
  background: white;
  clear: left;
}

#resetbutton {
  float: right;
}

#info-box {
  display: table-row;
}

#p1 {
  font-style: bold;
}

#p2 {
  font-size: 13px;
}
